form{
    padding: 16px;
}
.form-control.ng-touched.ng-invalid{
    border: 2px solid rgb(168, 92, 92);
}
.personal-info, .additional-inputs{
    border: 1px solid gray;
    padding: 16px;
    margin: 8px 0px;
}
